/* Navbar */
a.navbar-brand img{
    max-height: 150px;
    margin-top: -10px;
    margin-bottom: -150px;
    margin-left: -40px;
    position: absolute;
    z-index: 1;
}

.nav-item {
    padding-left: 10px;
}

a.nav-link {
    font-weight: bolder;
}

/* Home Section */
#home {
    margin-top: 40px;
    position: relative;
    min-height: 700px;
    background: url('../../assets/img/monkees-bg.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    color: white;
}

#home .dark-overlay {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 700px;
    width: 100%;
    background: rgba(0,0,0,0.8);
    
}

img#guitar {
    margin-top: 80px;
    height: 400px;
    
}

.band-news {
    margin-top: 150px;
    background-color:rgba(0,0,0,0.6);
}

.social-media {
    padding: 10px;
    margin-top: 80px;
    background-color: rgba(0,0,0,0.6);
    border-radius: 25px;
}

.social-media i {
    font-size: 4rem;
    color: #f9e8cb;
}

#home .social-media-item {
    margin-top: 40px;
}

/* The Monkees Section */
#themonkees {
    min-height: 700px;
    width: auto;
    background-color: #f8e6c8;
    color: #34375a;
}

#themonkees > p {
    margin: 5px 100px;
}

.custom-card-image {
    margin-top: -50px;
}

/* Gigs Section */
#gigs {
    position: relative;
    min-height: 700px;
    background: url('../../assets/img/The_Monkees_sitting.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    color: white;
}

#gigs .dark-overlay {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 700px;
    width: 100%;
    background: rgba(0,0,0,0.8);
    
}

a.list-group-item.list-group-item-action.active {
    color: white;
    font-weight: bolder;
    border-color: #f8e6c7;
    background-color: rgba(0,0,0,0.1);
}

.table-title {
    color: #f8e6c7;
    
}

thead > tr > th {
    font-size: 1.1rem;
}

tbody > tr > th {
    font-weight: unset !important;
}

/* Media Section */
#media {
    min-height: 700px;
    width: auto;
    background-color: #f8e6c8;
    color: #34375a;
    padding-bottom: 30px;
}

.audio-clip {
    margin: 10px 0px;
}

.embed-responsive {
    margin-top: 15px;
}

/* Contacts Section */
#contact {
    position: relative;
    min-height: 700px;
    background: url('../../assets/img/The_Monkees_May_1967.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    color: #34375a;
}

.contact-text {
    background-color: #f9e8cb;
    padding: 5px;
    border-radius: 25px;
}

.contact-form {
    background-color: #f9e8cb;
    background-color: rgba(249,232,203,0.5);
    padding: 20px;
    border-radius: 50px;
}
/* Footer Section */

#footer {
    background-color: black;
    color:#f9e8cb;
}

#footer i {
    color:#f9e8cb;
}


/* -------- MEDIA QUERIES -----------*/
/* Screens below 576px */
@media(max-width: 575px) {
    /* Navbar */

    a.navbar-brand img{
        max-height: 100px;
        margin-top: -20px;
        margin-bottom: 10px;
        margin-left: 10px;
        position: absolute;
        z-index: 1;
    }

    .navbar-nav {
        width: 100%;
        text-align: center;
    }

    .navbar-nav > li {
    float: none;
    display: inline-block;
    }

    .navbar-toggler:not(:disabled) {
    float: right !important;
    }

    /* Home Section */
    #home {
        min-height: 700px;
    }

    #home .dark-overlay {
        min-height: 700px;
    }

    img#guitar {
        margin-top: 10px;
        height: 75px;   
    }

    .band-news {
        margin: 30px 10px 10px 10px;
    }

    .social-media {
        margin-top: 5px;
        background-color: rgba(0,0,0,0.6);
        border-radius: 5px;
        padding-bottom: 20px;
    }
    
    .social-media i {
        font-size: 3rem;
        color: #f9e8cb;
    }
    
    .social-media-item {
        margin-top: 10px;
    }

    /* The Monkees Section */
    #themonkees {
        padding-top: 10px !important;
    }

    #themonkees > div > div.row.mt-5 {
        margin-top: 5px !important;
    }

    .custom-card-image {
        margin-top: -30px;
        width: 30% !important;
    }

    .custom-card {
        height: 170px !important;
    }

    .card {
        margin-bottom: 20px !important;
        height: auto !important;
    }
    
    .custom-card-h3 {
        margin-top: -1rem !important;
    }
 
    /* Gigs Section */
    #gigs {
        min-height: 600px;
    }
    
    #gigs .dark-overlay {
        min-height: 600px;
    }
    #gigs .mt-5 {
        margin-top: 10px !important;
    }
    /* Media Section */

    #media > .pt-5 {
        padding-top: 20px !important;
    }

    #media > div > div.row.text-center.pt-5 {
        padding-top: 10px !important;
    }

    #media h3 {
        margin-bottom: 20px;
    }

    .audio-clip {
        margin: 0px;
    }

    .embed-responsive {
        margin: 10px 0px;
    }

    /* Contact Section */
    #contact .pt-5 {
        padding-top: 10px !important;
    }

    #contact h1 {
        padding-bottom: 10px !important;
    }

    /* General */
    .lead {
        font-size: 0.9rem;
    }
}

/* Screens up to 767px */
@media(min-width: 576px) and (max-width: 767px) {
    /* Navbar */

    a.navbar-brand img{
        max-height: 100px;
        margin-top: -20px;
        margin-bottom: 10px;
        margin-left: 10px;
        position: absolute;
        z-index: 1;
    }

    .navbar-nav {
        width: 100%;
        text-align: center;
    }

    .navbar-nav > li {
    float: none;
    display: inline-block;
    }

    .navbar-toggler:not(:disabled) {
    float: right !important;
    }

    /* Home Section */
    #home {
        min-height: 700px;
    }

    #home .dark-overlay {
        min-height: 700px;
    }

    img#guitar {
        margin-top: 10px;
        height: 100px;   
    }

    .band-news {
        margin: 30px 10px 10px 10px;
    }

    .social-media {
        margin-top: 5px;
        background-color: rgba(0,0,0,0.6);
        border-radius: 5px;
        padding-bottom: 20px;
    }
    
    .social-media i {
        font-size: 3rem;
        color: #f9e8cb;
    }
    
    .social-media-item {
        margin-top: 10px;
    }

    /* The Monkees Section */
    #themonkees {
        padding-top: 10px !important;
    }

    #themonkees > div > div.row.mt-5 {
        margin-top: 5px !important;
    }

    .custom-card-image {
        margin-top: -30px;
        width: 30% !important;
    }

    .custom-card {
        height: 170px !important;
    }

    .card {
        margin-bottom: 20px !important;
        height: auto !important;
    }
    
    .custom-card-h3 {
        margin-top: -1rem !important;
    }
 
    /* Gigs Section */
    #gigs {
        min-height: 700px;
    }
    
    #gigs .dark-overlay {
        min-height: 700px;
    }
    /* Media Section */

    #media > .pt-5 {
        padding-top: 20px !important;
    }

    #media > div > div.row.text-center.pt-5 {
        padding-top: 10px !important;
    }

    #media h3 {
        margin-bottom: 20px;
    }

    .audio-clip {
        margin: 0px;
    }

    .embed-responsive {
        margin: 10px 0px;
    }

    /* Contact Section */
    /* General */
    .lead {
        font-size: 0.9rem;
    }
}
/* Medium sized screens between 768px and 992px*/
@media (min-width: 768px) and (max-width: 992px) {
    /* Navbar */
    /* Home Section */
    .social-media i {
        font-size: 3rem;
        color: #f9e8cb;
    }

    #home h5 {
        font-size: 0.9rem;
    }

    /* The Monkees Section */
    .card {
        margin-bottom: 40px !important;
        height: auto !important;
    }
    .custom-card-image {
        margin-top: -30px;
        width: 50% !important;
    }

    .custom-card-h3 {
        margin-top: -1rem !important;
    }

    /* Gigs Section */
    /* Media Section */
    .embed-responsive {
        margin-top: 10px;
    }

    /* Comtacts Section */
}