a.navbar-brand img{
    max-height: 150px;
    margin-top: -10px;
    margin-bottom: -150px;
    margin-left: -80px;
    position: absolute;
    z-index: 1;
}

.nav-item {
    padding-left: 10px;
}

a.nav-link {
    font-weight: bolder;
}



/* Style the background image of the home section */
#home {
    margin-top: 40px;
    position: relative;
    min-height: 700px;
    background: url('/assets/img/monkees-bg.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    color: white;
}

#home .dark-overlay {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 700px;
    width: 100%;
    background: rgba(0,0,0,0.8);
    
}

#themonkees {
    min-height: 700px;
    width: auto;
    background-color: #f8e6c8;
    color: #34375a;
}

img#guitar {
    margin-top: 80px;
    height: 400px;
    
}

.band-news {
    margin-top: 150px;
    margin-right: 100px;
}

a.list-group-item.list-group-item-action.active {
    color: white;
    font-weight: bolder;
    border-color: #f8e6c7;
    background-color: #122049;
}

#themonkees > p {
    margin: 5px 100px;
}

.custom-card-image {
    margin-top: -50px;
}

#gigs {
    position: relative;
    min-height: 700px;
    background: url('/assets/img/The_Monkees_sitting.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    color: white;
}

#gigs .dark-overlay {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 700px;
    width: 100%;
    background: rgba(0,0,0,0.8);
    
}

.table-title {
    color: #f8e6c7;
    
}



thead > tr > th {
    font-size: 1.1rem;
}

tbody > tr > th {
    font-weight: unset !important;
}

#media {
    min-height: 700px;
    width: auto;
    background-color: #f8e6c8;
    color: #34375a;
    padding-bottom: 30px;
}

.audio-clip {
    margin: 10px 0px;
}

#contact {
    position: relative;
    min-height: 700px;
    background: url('/assets/img/The_Monkees_May_1967.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    color: #34375a;
}

.contact-text {
    background-color: #f9e8cb;
    padding: 5px;
    border-radius: 25px;
}

.contact-form {
    background-color: #f9e8cb;
    padding: 20px;
    border-radius: 50px;
}


/* -------- MEDIA QUERIES -----------*/

@media(max-width: 767px) {
    img#guitar {
        margin-top: 10px;
        height: 100px;
        
    }

    .band-news {
        margin: 10px;
    }

    a.navbar-brand img{
        max-height: 100px;
        margin-top: -20px;
        margin-bottom: 10px;
        margin-left: 10px;
        position: absolute;
        z-index: 1;
    }

    .navbar-nav {
        width: 100%;
        text-align: center;
      }
      .navbar-nav > li {
        float: none;
        display: inline-block;
      }
      .navbar-toggler:not(:disabled) {
        float: right !important;
      }

      .lead {
          font-size: 0.9rem;
      }

      .band-news {
          margin-top: 30px;
      }
      
      #home {
          min-height: 600px;
      }

      #home .dark-overlay {
          min-height: 600px;
      }

      .custom-card-image {
          margin-top: -30px;
          width: 30% !important;
      }

      .custom-card {
          height: 170px !important;
      }

      .card {
          margin-bottom: 20px !important;
          height: auto !important;
      }
      
      .custom-card-h3 {
          margin-top: -1rem !important;
      }
}

@media (min-width: 768px) and (max-width: 992px) {
    .card {
        margin-bottom: 40px !important;
        height: auto !important;
    }
    .custom-card-image {
        margin-top: -30px;
        width: 50% !important;
    }

    .custom-card-h3 {
        margin-top: -1rem !important;
    }
}